<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
    <h2>My favorite hero is: {{myHero.name}}</h2>
    <p *ngIf="heroes.length > 10">There are many heroes!</p>
    <p>Heroes:</p>
  <ul>
    <li *ngFor="let hero of heroes">
     {{hero.id}} ### {{ hero.name }}
    </li>
  </ul>
  <h2><div [hidden]="isHidden">Hidden element or not?</div></h2>
  <br/>Url: <a [href]="website.url" [textContent]="website.name"> </a>
  <br/>Url: <a bind-href="website.url" bind-textContent="website.name"> </a>
  <h1>Mouse Events</h1>
  <div class="box" (mouseenter)="mousecomponent.onEvent($event)"
                         (mouseleave)="mousecomponent.onEvent($event)"
                         (mousemove)="mousecomponent.coordinates($event)"
                         on-click="mousecomponent.onEvent($event)"
                         on-dblclick="mousecomponent.onEvent($event)"
                         on-contextmenu="mousecomponent.onEvent($event)"
                         >                         
            <p class="type">Type: {{mousecomponent.event?.type}}</p>
            <p>x: {{mousecomponent.clientX}}, y: {{mousecomponent.clientY}}</p>
            <p>ctrl: {{mousecomponent.event?.ctrlKey}}, shift: {{mousecomponent.event?.shiftKey}}, meta: {{mousecomponent.event?.metaKey}}</p>
  </div>      
</div>
<router-outlet></router-outlet>
